@font-face {
  font-family: 'wg_gruxwg_grux';
  src: url('wg_grux_font-webfont.eot');
  src: url('wg_grux_font-webfont.eot?#iefix') format('embedded-opentype'),
  url('wg_grux_font-webfont.woff') format('woff'),
  url('wg_grux_font-webfont.ttf') format('truetype'),
  url('wg_grux_font-webfont.svg#wg_gruxwg_grux') format('svg');
  font-weight: normal;
  font-style: normal;
}